/* Safari old browser spesific css */
video::-webkit-media-controls { 
    display:none !important; 
}
.controlers { 
    z-index:2147483647;
}
body {
    display: flex;
    height: 98vh;
    background-color: #120a1a;

}
/* Normal video player css */
#videoContainer {
    position: relative;
    display: flex;
    width: 650px;
    margin: auto auto auto auto;
}
#video {
    width: 100%;
    margin: auto auto auto auto;
}
#video-controlers {
    position: absolute;
    bottom: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.playpause {
    display: flex;
    width: 50px;
    height: 50px;
}#playpause {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto;
}
.stop {
    display: flex;
    width: 50px;
    height: 50px;
}#stop {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto;
}
.progress {
    flex: 1;
    height: 50px;
    display: flex;
}#progress {
    width: 100%;
    cursor: pointer;
}
.mute {
    display: flex;
    width: 50px;
    height: 50px;
}#mute {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto; 
}
.volinc {
    display: flex;
    width: 50px;
    height: 50px;
}#volinc {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto; 
}
.voldec {
    display: flex;
    width: 50px;
    height: 50px;
}#voldec {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto; 
}
.fullscreen {
    display: flex;
    width: 50px;
    height: 50px;
}#fs {
    width: 30px;
    height: 30px;
    margin: auto auto auto auto; 
}