/* Safari old browser spesific css */
video::-webkit-media-controls { 
    display:none !important; 
}
.controlers { 
    z-index:2147483647;
}
/* Normal video player css */
.videoContainer {
    display: flex;
    position: relative;
    height: 98vh;
    background-color: #000;
    color: #fff;
}
.video {
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
}
.video-controlers {
    display: flex;
    position: absolute;
    bottom: 0;
    list-style: none;
    width: 100%;
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.playpause {
    display: flex;
    width: 30px;
    height: 30px;
}.playpause-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto;
}
.stop {
    display: flex;
    width: 30px;
    height: 30px;
}.stop-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto;
}
.progress {
    flex: 1;
    height: 30px;
    display: flex;
}.progress-image {
    width: 100%;
    cursor: pointer;
}.progress-time {
    margin: auto auto auto auto;
    font-size: 12px;
}
.mute {
    display: flex;
    width: 30px;
    height: 30px;
}.mute-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto; 
}
.volinc {
    display: flex;
    width: 30px;
    height: 30px;
}.volinc-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto; 
}
.voldec {
    display: flex;
    width: 30px;
    height: 30px;
}.voldec-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto; 
}
.fullscreen {
    display: flex;
    width: 30px;
    height: 30px;
}.fs-image {
    width: 20px;
    height: 20px;
    margin: auto auto auto auto; 
}
@media only screen and (max-width: 1200px) {
    .volinc {
        display: none;
    }
    .voldec {
        display: none;
    }
}